<div>
  <div>
    <h1> Photo Details  </h1>
    
    <% if @the_photo.owner.id == session[:user_id] %>
      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete photo
        </a>
      </div>
    <% end %>

    <dl>
      <dt> Image </dt>
      <dd> <img src="<%= @the_photo.image %>" width="400" height="400"> </dd>

      <dt> Caption </dt>
      <dd> <%= @the_photo.caption %> </dd>

      <dt> Owner </dt>
      <dd> <%= @the_photo.owner_id %> </dd>

      <dt> Posted </dt>
      <dd> <%= time_ago_in_words(@the_photo.created_at) %> ago </dd>

      <dt> Likes count </dt>
      <dd> <%= @the_photo.likes_count %> </dd>

      <dt> Comments count </dt>
      <dd> <%= @the_photo.comments_count %> </dd>

      <dt> Fans </dt>
      <dd>
        <% counter = 0 %>
        <% @the_photo.likes.each do |a_like| %>
          <% counter = counter + 1 %>
          <% if counter == @the_photo.likes.count %>
            and <%=  a_like.fan.username %>
          <% else %>
            <%=  a_like.fan.username %>,
          <% end %>
        <% end %>
      </dd>
      
      <dt> Add a fan </dt>
      <dd> 
        <% liked = Like.where({ :fan_id => session[:user_id], :photo_id => @the_photo.id }).at(0) %>
        <% if liked == nil %>
          <form action="/insert_like" method="post">
            <input type="hidden" name="query_photo_id" value=<%= @the_photo.id %>>
            <button> Like </button>
          </form>
        <% else%>
          <a href="/delete_like/<%= liked.id %>"> Unlike </a>
        <% end %>
      </dd>

    </dl>
  </div>
</div>

<% if @the_photo.owner.id == session[:user_id] %>
  <dt>Edit photo</dt>
    <dd>
      <form action="/update_photo/<%= @the_photo.id %>">
        <label for="browser_image">Image</label>
        <input id="browser_image" type="text" name="input_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image %>">

        <label for="browser_caption">Caption</label>
        <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>

        <button>Update photo</button>
      </form>
    </dd>

  <dt>Delete photo</dt>
    <dd>
      <a href="/delete_photo/<%= @the_photo.id %>;">
        Delete this photo
      </a>
    </dd>
<% end %>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

  <% @the_photo.comments.each do |comment| %>
    <tr>
      <td> <%= comment.author.username %> </td>
      <td> <%= comment.body %> </td>
      <td> <%= time_ago_in_words(comment.created_at) %> ago </td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">

  <input id="browser_photo_id" type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
